.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 15px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 15px;
    gap: 20px;
}

input, .password{
    margin: 8px;
}

/* Responsive */
@media (max-width: 600px) {
    form {
        padding: 15px;
        max-width: 100%;
    }
}